<div class="container" style="margin: 2rem 2rem;text-align:center" class="custom-text">

    <!-- project details -->
    <ng-container *ngIf="project!=null">

        <p>Project Id&nbsp;:&nbsp;{{project.id}}</p>
        <p>Name&nbsp;:&nbsp;{{project.name}}</p>
        <p>Description&nbsp;:&nbsp;{{project.description}}</p>
        <p>Start date&nbsp;:&nbsp;{{project.start_date}}</p>
        <p>End date&nbsp;:&nbsp;{{project.end_date}}</p>
        
    

    
        <button class="btn custom-btn" (click)="update_project()" >Update</button>
    
        <button  class="btn custom-btn" (click)="delete_project()">Delete</button>

    </ng-container>

    <!-- if user clicks on 'update' button -->
    <ng-container *ngIf="edit_project && project!=null">

        <app-project-update [project]="project"></app-project-update>
    
    </ng-container>
    
    <hr>

    <!-- vew taks in a project -->
    <ng-container *ngIf="project!=null">
        
        <button class="btn custom-btn" (click)="view_tasks()">View Tasks</button>

    </ng-container>


    <!-- 'tasks list' component -->
    <ng-container *ngIf="project!=null && show_tasks">

        <app-task-list [project_id]="project.id"></app-task-list>

    </ng-container>
</div>
