
<div class="flex-container" style="margin: 2rem 1rem;" class="custom-text">

    <p style="text-align: center;">
        
        <a routerLink="create">
            <button class="btn btn-icon">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <b>New Project</b>
            
            </button>
        </a>
        
    </p>
 
    

    <div class="row row-cols-3 row-cols-md-2">
        <ng-container  *ngFor="let project of projects_list">
    
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">
                        
                        <a routerLink="{{project.id}}" >
                            {{project.id}}&nbsp;:&nbsp; {{project.name}}
                        </a>
                        
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text">{{project.description}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">{{project.start_date}}</p>
                        <p  class="card-text">{{project.end_date}}</p>
                    </div>
                </div>
            </div>
        
        </ng-container>
    </div>
    

</div>
