<div class="container" style="margin-top:2rem">
      
    <p style="text-align: center;">
        
        <a routerLink="tasks/create">
            <button class="btn btn-icon">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <b>New Task</b>
            
            </button>
        </a>
        
    </p>


    <div class="row row-cols-3">

        <ng-container *ngFor="let task of tasks_list">

            <div class="col">

                <p>{{task.id}}</p>
                <p>{{task.name}}</p>
                
                <p>{{task.description}}</p>
                <p>start&nbsp;:&nbsp;{{task.start_date}}</p>
                <p>end&nbsp;:&nbsp;{{task.end_date}}</p>
                <p>
                    <ng-container *ngIf="task.assignee!=null">

                        assignee&nbsp;:&nbsp;{{task.assignee.first_name}}
                    
                    </ng-container>
                    <ng-container *ngIf="task.assignee==null">

                        assignee&nbsp;:&nbsp;None

                    </ng-container>
                    
                </p>
                <p>
                    <a routerLink="/projects/{{project_id}}/tasks/{{task.id}}"><button class="btn custom-btn">View</button></a>
                </p>
                
            </div>
            
        </ng-container>
        
    </div>
    
</div>
